<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	
	<servlet>
		<servlet-name>GetVersionDetails</servlet-name>
		<servlet-class>VersionModule.GetVersionDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StoreVersionDetails</servlet-name>
		<servlet-class>VersionModule.StoreVersionDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StoreToken</servlet-name>
		<display-name>StoreToken</display-name>
		<description></description>
		<servlet-class>VersionModule.StoreToken</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSessionObject</servlet-name>
		<display-name>GetSessionObject</display-name>
		<description></description>
		<servlet-class>SessionsModule.GetSessionObject</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateSession</servlet-name>
		<display-name>UpdateSession</display-name>
		<description></description>
		<servlet-class>SessionsModule.UpdateSession</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetVersionDetails</servlet-name>
		<url-pattern>/versions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StoreVersionDetails</servlet-name>
		<url-pattern>/storeVersions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StoreToken</servlet-name>
		<url-pattern>/storeToken</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSessionObject</servlet-name>
		<url-pattern>/session</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateSession</servlet-name>
		<url-pattern>/updateSession</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
